<div ng-controller="HomeCtrl as home" ng-init="home.checkLoginStatus()">
    <div class="rows">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <span id="typing" ></span>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8">
                    <ul id="messages">
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <span id="onlineuser"></span>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <form class="form-inline" ng-submit="home.addMessage()" name="home.messageForm" novalidate = "true"> 
                <input type="text" class="form-control" name="message" ng-blur="home.unsetTyping()" ng-focus="home.setTyping()"  ng-required="true" ng-model="home.message">
                <button ng-disabled="home.messageForm.$invalid" type="submit" class="btn btn-primary">Submit</button>
            </form> 
        </div>
    </div>

</div>