<div ng-controller="AuthenticateCtrl as authenticate">
	<div class="form-group">
		<label for="pwd">Log in:</label>
		<a  href="auth/login"><button class="loginBtn loginBtn--google">
			Login with Google
		</button></a>
	</div>
</div>